*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: calc(0,5px + 1.5vw);
  font-family: 'Roboto Mono', monospace;
}

#header .logo {
  width: 60px;
  transition: 1.5s;
}

#header{
  transition: 0.7s;
}

#header .abajo{
  background-color: #100F0F;
}

#header a{
  transition: 0.7s;
}

#inicio h1 span, .title-h2{
  color: #5C8374;
}

#inicio .image img {
  max-height: 100vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#inicio {
  position: relative;
}

#inicio .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);;
}

.overlay .container,
.overlay .row {
  height: 100%;
}

hr{
  background-color: #D8D9DA;
}

body{
  background-color: rgb(10, 10, 0);
  color: #D8D9DA;
}

.jumbotron, footer{
  background-color: #100F0F;
}

#footer a {
  color: #D8D9DA;
}


#footer a :hover{
  color: #D8D9DA;
}


@media (max-width: 600px) {
  #container-title h1{
    font-size: 15px;
  }

  #header .logo {
    width: 40px;
  }

  #footer li a, #footer p{
    font-size: 10px;
  }

}
