*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: calc(0,5px + 1.5vw);
  /*font-family: 'Bricolage Grotesque', sans-serif;*/
  font-family: 'Roboto Mono', monospace;
}

:root{
  --color-pri: #040D12;
  --color-sec: #183D3D;
  --color-ter: #5C8374;
  --color-cua: #5C8374;
  --color-trans-fondo: rgba(0, 0, 0, 0.5);
  --color-white: #fcf9f9;
}


#header .logo {
  width: 60px;
  transition: 1.5s;
}

#header{
  transition: 0.7s;
}

#header .abajo{
  background-color: #100F0F;
}

#header a{
  transition: 0.7s;
}

#inicio h1 span{
  color: var(--color-cua);
}

#inicio .image img {
  max-height: 100vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#inicio {
  position: relative;
}

#inicio .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-trans-fondo);
}

.overlay .container,
.overlay .row {
  height: 100%;
}

.title-h2{
  color:var(--color-cua);
}

hr{
  background-color: #D8D9DA;
}

#main{
  background-color: rgb(10, 10, 0);
  color: #D8D9DA;
}

.jumbotron, footer{
  background-color: #100F0F;
}

#footer a {
  color: #D8D9DA;
}


#footer a :hover{
  color: #D8D9DA;
}


@media (width < 601px) {
  #container-title h1{
    font-size: 15px;
  }

  #header .logo {
    width: 40px;
  }

}
